@model Indhold_activitetEditViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Indhold_activitet Edit";
}

@*Without Bootstrap*@
    <form asp-controller="Indhold_activitet" asp-action="Edit" method="post">

        <div asp-validation-summary="All"></div>

        <input hidden asp-for="Indhold_activitet_Id" />

        <div>
            <label asp-for="Date_Time"></label>
            <input asp-for="Date_Time" />
            <span asp-validation-for="Date_Time"></span>
        </div>
        <div>
            <label asp-for="User_Id"></label>
            <input asp-for="User_Id" />
            <span asp-validation-for="User_Id"></span>
        </div>
        <div>
            <label asp-for="Indhold_Id"></label>
            <input asp-for="Indhold_Id" />
            <span asp-validation-for="Indhold_Id"></span>
        </div>
        <div>
            <label asp-for="Indhold_Navn"></label>
            <input asp-for="Indhold_Navn" />
            <span asp-validation-for="Indhold_Navn"></span>
        </div>
        <div>
            <label asp-for="Indhold_activitet_Navn"></label>
            <input asp-for="Indhold_activitet_Navn" />
            <span asp-validation-for="Indhold_activitet_Navn"></span>
        </div>

        <div>
            <button type="submit">Update</button>
        </div>


    </form>
