@model int

@{
    ViewBag.Title = "404 Error";
}

<div>
    <h4>404 Not Found Error:</h4>
    <hr />
    <h5>
        Indhold_activitet with ID = @Model cannot be found
    </h5>
</div>

<a asp-controller="Indhold_activitet" asp-action="List">Click here to see the list of all indhold_activitets</a>
