
<form asp-controller="Home" asp-action="Index" method="post">

    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Date_Time"></label>
        <input asp-for="Date_Time" />
        <span asp-validation-for="Date_Time"></span>
    </div>
    
    <div>
        <label asp-for="User_Type"></label>
        <input asp-for="User_Type" />
        <span asp-validation-for="User_Type"></span>
    </div>

    <button type="submit">Create</button>

</form>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}
